@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  input,
  select,
  textarea {
    @apply appearance-none bg-transparent border-0 outline-none;
  }
}

@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --body-bold-font-family: "PP Neue Montreal", Helvetica;
  --body-bold-font-size: 16px;
  --body-bold-font-style: normal;
  --body-bold-font-weight: 700;
  --body-bold-letter-spacing: 0px;
  --body-bold-line-height: 22px;
  --body-medium-font-family: "PP Neue Montreal", Helvetica;
  --body-medium-font-size: 16px;
  --body-medium-font-style: normal;
  --body-medium-font-weight: 500;
  --body-medium-letter-spacing: 0px;
  --body-medium-line-height: 22px;
  --body-medium-link-font-family: "PP Neue Montreal", Helvetica;
  --body-medium-link-font-size: 16px;
  --body-medium-link-font-style: normal;
  --body-medium-link-font-weight: 500;
  --body-medium-link-letter-spacing: 0px;
  --body-medium-link-line-height: 22px;
  --caption-m-medium-font-family: "PP Neue Montreal", Helvetica;
  --caption-m-medium-font-size: 14px;
  --caption-m-medium-font-style: normal;
  --caption-m-medium-font-weight: 500;
  --caption-m-medium-letter-spacing: 0px;
  --caption-m-medium-line-height: 18px;
  --collection-1-0: 0px;
  --deepblue-100: rgba(11, 31, 91, 1);
  --deepblue-140: rgba(4, 12, 36, 1);
  --gray-70: rgba(151, 156, 166, 1);
  --header-1-font-family: "Uxum Grotesque", Helvetica;
  --header-1-font-size: 32px;
  --header-1-font-style: normal;
  --header-1-font-weight: 700;
  --header-1-letter-spacing: 0px;
  --header-1-line-height: 36px;
  --header-3-font-family: "Uxum Grotesque", Helvetica;
  --header-3-font-size: 20px;
  --header-3-font-style: normal;
  --header-3-font-weight: 700;
  --header-3-letter-spacing: 0px;
  --header-3-line-height: 24px;
  --white: rgba(255, 255, 255, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
